body{
    padding: 0 5vw;
}

nav ul{
    padding-right: 50px;
}

.active{
    border-bottom: 2px solid black;
}

nav h1{
    padding: 10px 40px 0 0;
    font-size: 20px;
}

.home-body{
    text-align: center;
}

.home-body p{
    padding: 80px 0px 50px 0;
    margin: 0 15vw;
    font-size: 4vw;;
}

@media (max-width: 800px) {
    .home-body p{
        padding: 40px 0 30px 0;
        margin: 4vw;
        font-size: 30px;
    }
}
