/* .navbar-brand{
    padding-left: 16px;
} */

.jumbotron{
    height:100vh;
    
}

/* .jumbotron h2{
    margin-top: -40px;
}

.navbar-collapse{
    padding-left: 16px;
} */

.active{
    border-bottom: 2px solid dodgerblue;
}

nav h1{
    padding: 10px 40px 0 0;
    font-family: Comfortaa;
    font-size: 25px;
}
